@page "/select"


@using CountryMusicCountdown.Data
@inject ScraperService ScrapeNow

<h1>DateNames</h1>

<div id="wrapper">
    <SfDatePicker TValue="DateTime?" 
                  Min="@StartValue"
                  
                  Format="yyyy-MM-dd"
                  Start="@CalendarView.Decade"
                  Placeholder="Select A Countdown Date"></SfDatePicker>
</div>

@code{
    public DateTime DateValue { get; set; } = new DateTime(1978, 08, 27);
    public DateTime StartValue { get; set; } = new DateTime(1973, 10, 06);
    
}

<hr />








@if (LstData == null)
{
    <p><em>Loading..</em></p>
}
else
{
    @foreach (var data in LstData)
    {
<tr>
    <td>@data.Substring(data.LastIndexOf("/") + 1, data.Length - (data.LastIndexOf("/") + 1))</td>
    

</tr>

    }
}

@code {
    public List<string> LstData;

    protected override async Task OnInitializedAsync()
    {
        LstData = await ScrapeNow.ScrapeDates();

    }
}

